#Notes {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    background-color: beige;
    margin: 0;
    padding: 10px;
  }
  
  body {
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  textarea {
    display: grid;
    text-align: left;
    background-color: #dddddd;
    color: #666666;
    position: relative;
    flex-grow: 1;
    border-radius: 5px;
    border: 2px solid transparent;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    width: 90%;
    height: 100%; 
    margin-bottom: 20px;
    padding: 10px;
  }

  
  
  textarea:hover {
    cursor: pointer;
    background-color: #eeeeee;
  }
  
  textarea:focus {
    cursor: text;
  }
  
  h4 {
    text-align: center;
  }
  
  .name {
    text-align: center;
    font-weight: bold;
  }
  
  ul li {
    text-align: left;
    margin: 0 20px;
    line-height: 2pc;
  }
  
@media screen and (min-width: 601px) {
    body {
      flex-direction: row;
      overflow-x: hidden;
    }
  
    textarea {
      /* height: calc(100vh - 180px);
      width: 60%; */
      bottom: 0;
      left: 20px;
      height: 400px;
      width: 1050px;
      margin-top: 70px;
    }
  
    .name {
      margin-top: 0;
      margin-right: auto;
      margin-left: 20px;
      text-align: center;
    }
  
    ul {
      flex-grow: 1;
    }
    ul li {    
        margin-left: -10px;
    }
    /* .New-note {
        position: absolute; 
        margin-left: -515px;
    /* } */
    .New-note {
        position: absolute;
        height: 40px; 
        width: 80px; 
        border-radius: 5px;
        margin-top: 60px;
        margin-left: 185px;
    }
}

  
@media screen and (max-width: 600px) {
    textarea {
      position: relative;
      height: 250px;
      width: 95%;
      margin-bottom: 100px;
    }
  
    .name {
      margin-top: -8px;
      margin-bottom: 10px;
      
      
    }
    ul li {
        margin-left: -10px;
    }
    /* .New-note {
        position: absolute; 
        margin-top: 300px;
        margin-left: -210px; */

    .New-note {
        width: 80px;
        background-color: brown;
        border-radius: 5px;
        position: relative ;
        margin-top: -410px;
        margin-left: 5px;
    }
    .dark_theme {
        position: sticky; 
        width: 90px;
        background-color: bisque;
        border-radius: 5px; 
        border-style:ridge ; 
        border-color: #666666; 
        margin-left: 19pc;
        margin-top: 11pc;
    }
    
}

  
  
  