body {
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 100vh;
    margin: 0%; 
    padding: 0%;
    font-family: 'Montserrat', Courier, monospace;
    /* color: rgb(37, 105, 147); */
    overflow: hidden; 
    overflow-x: hidden;
  }
  
  header {
    background-color: rgb(243, 233, 222);
    margin: 0%; 
  }
  .Better-notes {
    display: flex; 
    flex-direction: column; 
    width: 79vw; 
    align-items: center;
  }

  .Docs {
    display: flex; 
    align-self: flex-end; 
    margin: 3%;
  }
  div {
    display: flex; 
    gap: 0.6vw;
  }
  .New-Note.Dark-theme {
    display: grid; 
    grid-template-columns: 6vw 6vw ; 
    column-gap: 65vw ;
    margin: 1vw; 
  }
  button {
    background-color: rgb(55, 95, 104);
    color: white; 
    border-radius: 5px; 
    width: 7vw; 
    margin: 0.5vw; 
    padding:1vw  
  }
.NOTES {
  margin-left: 10px;
}
.Dark-theme {
  background-color: rgb(86, 83, 106) ; 
  margin-right:1vw ; 
}

.Save-Cancel-Buttons {
  width: 79vw; 
  margin: 1vw; 
  align-items: flex-end; 
  justify-content: flex-end; 
  margin-right: 2vw; 
}
main {
  background-color: rgb(250, 244, 236);
  margin:0%;
}
footer { 
  position: absolute; 
  bottom: 1vh; 
  left: 50vw;
}
.Footer-images {
  display: flex; 
  flex-direction: row;
  gap: 2vw; 
  background-color: rgb(250, 244, 236);
}
  textarea {
    text-align: left;
    background-color: #dddddd;
    color: #666666;
    border-radius: 5px;
    border: 2px solid transparent;
    outline: none;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    margin: 1vw;
    width: 78vw; 
    height: 20vh;
    font-size: larger; 
    font-weight: bold;
  }
  textarea:hover {
    cursor: pointer;
    background-color: #dbd1d1;
  }
  
  textarea:focus {
    cursor: text;
  }

  .Cancel {
    background-color: brown;
  }

  button:hover {
    cursor: pointer;
  }
  ul li {
    line-height: 4vh ; 
  }

  .black-back {
    background-color: #181818;
  }
  
  .white-text {
    color: #00ff4c;
  }
  .gray-back {
    background-color: #1f1f1f;
  }
  .birght-text {
    color: #dabfa5;
  }
  ul li:hover { 
    cursor: pointer;
  }

  .HIDE { 
    display: none;
  } 
  .dark-back {
    background-color: darkslategray;
    color: white;
    font-size: large;
    font-weight: bold;
  }
  .dark-back:hover {
    background-color: #2b0616;
  }

@media screen and (max-width: 600px) {
  body {
    display: grid; 
    grid-template-columns: 100vw; 
    grid-template-rows: 54vh 30vh 2vh; 
    overflow: hidden;
    overflow-x: hidden;
  }
  header {
    grid-row:  2/3; 
  }
  main {
    grid-row:1/2 ;
  }
    .name {
      margin-top: -8px;
      margin-bottom: 10px;
    }
    .Save-Cancel-Buttons {
      /* align-items: center; 
      justify-content: center;  */
      width: 100vw; 
    }
    .Buttons {
      gap: 80vw; 
      font-size: 45%;  
    }
    button {
      width: 13vw;
    }
    .New-Note.Dark-theme {
      width: 20vw;
    }
    footer p {
      align-items: center;
    }
    textarea {
      width: 95%;
    }
    footer {
      left: 0% ; 
      display: flex;
      flex-direction: column;
      width: 100vw ; 
      align-items: center ; 
      
      }
    body { 
      background-color: rgb(250, 244, 236);
    }
    .dark-back body { 
      background-color: #2b0616;
    }
    header h2 {
      text-align: center;
    }
    header {
      margin-top: 30px;
   }
   #Take-Better-Notes {
    margin-left: 25%; 
    text-align: center;
   }
   .Docs {
    margin-right: 25% ;
    text-align: center;
   }
   .Dark-theme {
    position: relative;
    /* right: 0px;
    width: 14vw;
    top: 115px;
    height: 9vw
   } */
   
  }
}